* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    max-width: 1920px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    width: 70px;
}

.nav {
    display: flex;
    gap: 20px;
}

li {
    cursor: pointer;
    color: antiquewhite;
    list-style: none;
}

li:hover {
    transition: all .3s;
    color: red;
}

main {
    background-color: rgb(255, 255, 255);
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: rgb(241, 246, 246);
    max-width: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 4px;
    filter:drop-shadow(0 3px 3px rgba(0, 0, 0, 0.134));
}

.imgcard {
    width: 100%;
}

.title {
    color: rgb(53, 53, 107);
}

.price {
    background-color: gold;
    color: red;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 600;
}

#btn {
   cursor: pointer;
   padding: 2px 7px;
   background-color: rgb(66, 64, 64);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 2px;
}

#btn:hover {
   transition: all .4s;
   background-color: black;
}

@media (max-width: 350px) {

    .nav {
        column-gap: 10px;
    }

}



/*
@media (max-width: 768px) {

    body {
        background-color: black;
    }

    header {
        background-color: aliceblue;
        flex-direction: column;
        padding: 20px;
    }

    li {
        color: red;
    }
}

@media (max-width: 425px) {

    body {
        background-color: blue;
    }
    
}

*/
